*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    width: 100%;
}
.box1{
    width: 100%;
    height: 600px;
    background-color: grey;
}
.box1-img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    --webkit-filter: blur(5px);
    display: flex;
    overflow: hidden;
    position: absolute;
}
.box2{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}
.box3{
    height: 30%;
    width: 50%;
    margin: auto;
}
.box3a{
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: 900;
    margin-top: 15px;
    
}
.box4{
    height: 88%;
    width: 25%;
    background:linear-gradient(to top ,rgba(0,0,0,0.5)70%,rgba(0,0,0.5)110%), url(img/bike\ bc1.webp);
    margin: auto;
}
.box4a{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
}
.box4b, .box4c{
    margin-top: 44px;
    width: 80%;
    height: 40px;
    padding-left: 10px;
    margin-left: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid yellow;
    border-radius: 100px;
}
.box4b:hover, .box4c:hover{
    width: 82%;
    height: 42px;
    background-color: rgb(225, 231, 231);
}
.box4c{
    margin-top: 20px;
}
.box4d{
    color: white;
    margin: 20px;
    width: 84%;
}
.box4e{
    height: 12px;
    width: 20px;
    background-color: white;
    border: none;
}
.box4e:hover{
    height: 17px;
    width: 25px;
    background-color: rgb(189, 197, 204);
}
.box4f{
    color: red;
    font-size: 15px;
    float: right;
    text-decoration: none;
}
.box4f:hover{
    font-size: 16px;
    color: rgb(247, 0, 0);
}
.box4g{
    background-color: rgb(234, 234, 16);
    height: 40px;
    margin-top: 15px;
    margin-left: 25px;
    width: 80%;
    border-radius: 100px;
    border: none;
}
.box4g:hover{
    height: 42px;
    width: 81%;
    background-color: rgb(97, 219, 52);
}
.box4a1{
    height: 70px;
    width: 50%;
    margin: auto;
    display: flex;
}
.box4a1a{
    text-align: center;
    background-color: red;
    border-top: 1px solid rgb(255, 251, 251);
}
.box4a1b{
    background-color: rgb(179, 179, 216);
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 100px;
}
.box4a1b:hover{
    height: 34px;
    width: 34px;
}
.box4aimg{
    height: 100%;
    width: 100%;
}
.or{
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
    border-top: 1px solid white;
    margin-top: 30px;
}
.last{
    width: 55%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    color: rgb(143, 136, 136);
}
.last1{
    text-decoration: none;
    color: rgb(73, 244, 5);
    margin-top: 2px;
    font-size: 20px;
    font-weight: bold;
}
.last1:hover{
    color: rgb(255, 64, 6);
    font-size: 19px;
}
#one,#two{
    margin-left: 20px;
    color: rgb(193, 88, 88);
}

@media(max-width:1000px){
    .box4{
        width: 70%;
        height: 50%;
        margin: 90px;
    }
}
